<nav id="navbar" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <ul class="nav">
        <li>
            <a href="#a">a</a>
            <ul class="nav">
                <li><a href="#a1">b</a></li>
                <li><a href="#a2">c</a></li>
                <li><a href="#a3">d</a></li>
            </ul>
        </li>
        <li>
            <a href="#b">b</a>
            <ul class="nav">
                <li><a href="#b1">b</a></li>
                <li><a href="#b2">c</a></li>
                <li><a href="#b3">d</a></li>
            </ul>
        </li>
        <li><a href="#c">c</a></li>
        <li><a href="#d">d</a></li>
    </ul>
</nav>