<nav id="navbar" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <ul class="nav">
        <% Object.keys(api).forEach(function (key) { %>
            <li>
                <a href="<%= api[key].target %>"><%= api[key].name %></a>
                <ul class="nav">
                    <% api[key].children.forEach(function (child) { %>
                    <li><a href="<%= child.target %>"><%= child.name %></a></li>
                    <% }) %>
                </ul>
            </li>
        <% }) %>
    </ul>
</nav>